<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
    <div class="title #hide_name#">
        <div  class="cmdName">#valueName#</div>
      </div>
    <div class="content-sm ">
        <span class="imgCmd"></span>
    </div>
    <div class="value">
        <span class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
    </div>
    <script>
        jeedom.cmd.update['#id#'] = function(_options) {
            var cmd = $('.cmd[data-cmd_id=#id#]');
            var imageStyle = '';

            // Paramètre de l'image
            var paramLogo = ('#logo#' == '#'+'logo#') ? '#generic_type#' : '#logo#';
            if (paramLogo == '') paramLogo = 'defaut';
            var paramExt = ('#extension#' == '#'+'extension#') ? '' : '#extension#';
            var paramSize = ('#size_dashboard#' == '#'+'size_dashboard#') ? '#size#' : '#size_dashboard#';
            paramSize = parseInt(paramSize);
            if ( !isNaN(paramSize) ) {
                imageStyle = imageStyle + 'width:' + paramSize + 'px;';
            } else {
                imageStyle = imageStyle + 'width:64px;';
            }
            var paramStyle = ('#style#' == '#'+'style#') ? '' : '#style#';
            paramStyle = ('#style_dashboard#' == '#'+'style_dashboard#') ? paramStyle : '#style_dashboard#';
            if ( paramStyle ) {
                imageStyle = imageStyle + ' ' + paramStyle;
            }
           
            // Affichage de l'image
            var imageURI = 'plugins/TopWidgets/images/action/' + paramLogo.toLowerCase().replace(' ', '');
            cmd.find('.imgCmd').empty().append('<img src="' + imageURI + '.png" >');
            cmd.find('.imgCmd img').attr('style', imageStyle);

            if (_options.display_value == '1' || _options.display_value >= 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
                cmd.attr('data-state','on');
                if (jeedom.cmd.normalizeName('#name#') == 'on') {
                    cmd.hide();
                } else {
                    cmd.show();
                    if ('#_time_widget_#' == '1') {
                        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
                    }
                }
            } else {
                cmd.attr('data-state','off');
                if (jeedom.cmd.normalizeName('#name#') == 'off') {
                    cmd.hide()
                } else {
                    cmd.show();
                    if ('#_time_widget_#' == '1') {
                        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
                    }
                }
            }
        }

        jeedom.cmd.update['#id#']({ display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#' });
        $('.cmd[data-cmd_uid=#uid#] .imgCmd').off().on('click', function () {
            jeedom.cmd.execute({ id:'#id#' });
        });
    </script>
</div>