<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
    <div class="title #hide_name#">
        <div  class="cmdName">#valueName#</div>
      </div>
    <div class="content-sm ">
        <span class="imgCmd"></span>
    </div>
    <div class="value">
        <span class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
    </div>
    <template>
        <div>type : light_on|light_off ({{Type de l'image à afficher}})</div>
        <div>logo : fibaro ({{Nom du logo à afficher}})</div>
        <div>extension : png|gif ({{Extension si différente}})</div>
        <div>size, size_dashboard : 80 ({{Taille en px de l'image}})</div>
        <div>style : ({{Style CSS additionnel}})</div>
        <div>time : duree|date ({{Affiche l'info time sous forme de durée}})</div>
    </template>
    <script>
        jeedom.cmd.update['#id#'] = function(_options) {
            var cmd = $('.cmd[data-cmd_id=#id#]');
            var imageStyle = '';
            var typeGeneric = '#generic_type#';

            // Paramétre du dossier des images classées par type
            var paramType = ('#type#' == '#'+'type#') ? typeGeneric+'/' : '#type#/';
            if (paramType == '/') paramType = '/';

            // Paramètre de l'image
            var paramLogo = ('#logo#' == '#'+'logo#') ? 'defaut' : '#logo#';
            if (paramLogo == '') paramLogo = 'defaut';
            var paramExt = ('#extension#' == '#'+'extension#') ? '' : '#extension#';
            var paramSize = ('#size_dashboard#' == '#'+'size_dashboard#') ? '#size#' : '#size_dashboard#';
            paramSize = parseInt(paramSize);
            if ( !isNaN(paramSize) ) {
                imageStyle = imageStyle + 'width:' + paramSize + 'px;';
            } else {
                imageStyle = imageStyle + 'width:64px;';
            }
            var paramStyle = ('#style#' == '#'+'style#') ? '' : '#style#';
            paramStyle = ('#style_dashboard#' == '#'+'style_dashboard#') ? paramStyle : '#style_dashboard#';
            if ( paramStyle ) {
                imageStyle = imageStyle + ' ' + paramStyle;
            }

            // Paramètre TimeLine
            var paramTime = '#time#';
           
            // Affichage de l'image
            var imageURI = 'plugins/TopWidgets/images/action/' + paramType.toLowerCase() + paramLogo.toLowerCase().replace(' ', '');
            var imageTag  = '<img src="' + imageURI + '-%s' + '.png" >';
            var stateReplace = '';

            if (_options.display_value == '1' || _options.display_value >= 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
                cmd.attr('data-state','on');
                if ( typeGeneric.substr(-6, 6) == 'TOGGLE' ) stateReplace = '-on';
                cmd.find('.imgCmd').empty().append(imageTag.replace('-%s', stateReplace));
                cmd.find('.imgCmd img').attr('style', imageStyle);
                if (jeedom.cmd.normalizeName('#name#').substring(0,2).toLowerCase() == 'on') {
                    cmd.hide();
                } else {
                    cmd.show();
                    if ( paramTime != '#'+'time#' ) {
                        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), paramTime)
                    }
                }
            } else {
                cmd.attr('data-state','off');
                if ( typeGeneric.substr(-6, 6) == 'TOGGLE' ) stateReplace = '-off';
                cmd.find('.imgCmd').empty().append(imageTag.replace('-%s', stateReplace));
                cmd.find('.imgCmd img').attr('style', imageStyle);
                if (jeedom.cmd.normalizeName('#name#').substring(0,3).toLowerCase() == 'off') {
                    cmd.hide();
                } else {
                    cmd.show();
                    if ( paramTime != '#'+'time#' ) {
                        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), paramTime)
                    }
                }
            }
        }

        jeedom.cmd.update['#id#']({ display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#' });
        $('.cmd[data-cmd_uid=#uid#] .imgCmd').off().on('click', function () {
            jeedom.cmd.execute({ id:'#id#' });
        });
    </script>
</div>