<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
    <div class="content-sm ">
        <span class="imgCmd"></span>
    </div>
    <template>
        <div>logo : fibaro ({{Nom du logo à afficher}})</div>
        <div>scale : xx ({{Taille de l'image}})</div>
        <div>style : ({{Style CSS additionnel}})</div>
    </template>
    <script>
        jeedom.cmd.update['#id#'] = function(_options) {
            var cmd = $('.cmd[data-cmd_id=#id#]');
            var imageStyle = '';

            // Paramètre de l'image
            var paramLogo  = ('#logo#' == '#'+'logo#') ? '#name#' : '#logo#';
            var paramScale = ('#scale_dashboard#' == '#'+'scale_dashboard#') ? '#scale#' : '#scale_dashboard#';
            var paramStyle = ('#style#' == '#'+'style#') ? '' : '#style#';
            paramStyle = ('#style_dashboard#' == '#'+'style_dashboard#') ? paramStyle : '#style_dashboard#';
            
            // Taille de l'image
            paramScale = parseFloat(paramScale);
            if ( !isNaN(paramScale) ) {
                if ( paramScale >= 0 && paramScale <= 1) {
                    paramScale = Math.round(paramScale * 100);
                }
                if ( paramScale > 1 && paramScale <= 200 ) {
                    imageStyle = imageStyle + "width:" + paramScale + "%;";
                }
            }
            
            // Style de l'image
            if ( paramStyle ) {
                imageStyle = imageStyle + ' ' + paramStyle;
            }
            
            // Affichage de l'image
            var imageURI = 'plugins/TopWidgets/images/channels/' + paramLogo.toLowerCase().replace(' ', '');
            cmd.find('.imgCmd').empty().append('<img src="' + imageURI + '.png" >');
            cmd.find('.imgCmd img').attr('style', imageStyle);
        }

        jeedom.cmd.update['#id#']({ display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#' });
        $('.cmd[data-cmd_uid=#uid#] .imgCmd').off().on('click', function () {
            jeedom.cmd.execute({ id:'#id#' });
        });
    </script>
</div>