<div class="cmd cmd-widget cursor #history#" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
    <div class="title #hide_name#">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="content-sm ">
        <span class="imgCmd"></span>
        
    </div>
    <div class="value">
        <span class=' state'></span>
    </div>
    <div class="cmdStats #hide_history#">
        <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
    </div>
    <script>
    jeedom.cmd.update['#id#'] = function(_options) {
        var cmd = $('.cmd[data-cmd_id=#id#]');

        // Paramétre du dossier des images classées par type
        var imageType = ('#type#' == '#'+'type#') ? '#generic_type#/' : '#type#/';

        // Paramètre de l'image
        var imageLogo = ('#logo#' == '#'+'logo#') ? 'defaut' : '#logo#';
        var imageExt = ('#extension#' == '#'+'extension#') ? 'png' : '#extension#';
        var imageSize = 'width="100%"';
        var imageURI  = 'plugins/WidgetBySab/images/numeric/' + imageType.toLowerCase() + imageLogo.toLowerCase();
        var imageTag  = '<img src="' + imageURI + '-%s.' + imageExt + '" ' + imageSize + '>';

        // Affichage des données
        cmd.attr('title', 'Date de valeur : '+_options.valueDate+', Date de collecte : '+_options.collectDate);
        var value = Math.round(parseFloat(_options.display_value) / 10) * 10;
        if ( isNaN(value) ) {
            cmd.find('.imgCmd').empty().append('<img src="plugins/WidgetBySab/images/error.png" width="80px">');
            cmd.find('.state').empty().append('');
        } else {
            cmd.find('.imgCmd').empty().append(imageTag.replace('%s', value));
            cmd.find('.state').empty().append(_options.display_value +' #unite#');
        }
	} 
    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
</script>
</div>