<div class="cmd cmd-widget #history#" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" title="#collectDate#">
    <center>
        <div class="imgCmd cursor"></div>
    </center>
    <script>
        jeedom.cmd.update['#id#'] = function(_options) {
            var cmd = $('.cmd[data-cmd_id=#id#]');
            var imageStyle = '';
    
            // Paramètre de l'image
            var paramLogo  = ('#logo#' == '#'+'logo#') ? '#name#' : '#logo#';
            var paramScale = ('#scale_mobile#' == '#'+'scale_mobile#') ? '#scale#' : '#scale_mobile#';
            var paramStyle = ('#style#' == '#'+'style#') ? '' : '#style#';
            paramStyle = ('#style_mobile#' == '#'+'style_mobile#') ? paramStyle : '#style_mobile#';
    
            
            // Taille de l'image
            paramScale = parseFloat(paramScale);
            if ( !isNaN(paramScale) ) {
                if ( paramScale >= 0 && paramScale <= 1) {
                    paramScale = Math.round(paramScale * 100);
                }
                if ( paramScale > 1 && paramScale <= 100 ) {
                    imageStyle = imageStyle + "max-width: " + paramScale + "%;";
                }
            }
            
            // Style de l'image
            if ( paramStyle ) {
                imageStyle = imageStyle + ' ' + paramStyle;
            }
            
            // Affichage de l'image
            var imageURI = 'plugins/TopWidgets/images/channels/' + paramLogo.toLowerCase().replace(' ', '');
            cmd.find('.imgCmd').empty().append('<img src="' + imageURI + '.png" >');
            cmd.find('.imgCmd img').attr('style', imageStyle);
        }
    
        jeedom.cmd.update['#id#']({ display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#' });
        $('.cmd[data-cmd_uid=#uid#] .imgCmd').off().on('click', function () {
            jeedom.cmd.execute({ id:'#id#' });
        });
    </script>    
</div>
